// -------------colors ------------//
$white:          #ffffff;
$dark:           #000000;
$primary:        #7b6dad;
$pink:           #ec277a;
$pink100:        #fdf8ed;
$success:        #87c541;
$orange:         #f9ad19;
$yellow:         #f9ad19;
$blue:           #00bef2;
$secondary:      #707070;
$gray100:        #b0b9c1;
$gray200:        lighten($gray100, 5%);
$transparent:    transparent;
