// Font-family
$font-family-base: "Sniglet", cursive;
$font-family-secondary: "Lato", sans-serif;

// Font-size
$font-size-base: 0.95rem;
$font-size-smaller: 0.625rem;
$font-size-sm: $font-size-base * 0.9;
$font-size-md: 1rem;
$font-size-h3: 1.50rem;

// Font-weight
$font-weight-normal: 400;
$font-weight-medium: 700;
$font-weight-bold: 800;

// Border Radius
$border-radius: 0.8rem;
$border-radius-sm: 0.3rem;
$border-radius-lg: 1.2rem;

//Buttons
$btn-border-radius: 0;
$btn-font-weight: $font-weight-normal;
$btn-font-size: $font-size-sm;

//Breakpoints
$breakpoints: (
    "xl": 1200px,
    "onlyxl": 1024px,
    "lg": 992px,
    "md": 768px,
    "sm": 576px,
);
