.footer {
    padding-top: 50px;
    .contact_frm_block {
        border-right: 1px solid $gray100;
    }
    .contact_add_block {
        padding-left: 40px;
        @media (max-width: map_get($breakpoints, "sm")) {
            padding-left: 20px;
            margin-top: 20px;
        }
    }
    .copyright_block {
        border-top: 1px solid $gray100;
        margin: 2rem 0;
        padding-top: 0.8rem;
        @include flex-properties(flex, null, null, space-between, center, null);
        @media (max-width: map_get($breakpoints, "sm")) {
           flex-wrap: wrap;
        }
        a {
            font-family: $font-family-secondary;
            margin-right: 10px;
            font-size: $font-size-sm;
            color: $dark;
            opacity: 0.7;
            &:hover {
                color: $primary;
                opacity: 1;
            }
            span {
                color: $primary;
                font-family: $font-family-secondary;
                font-size: $font-size-sm;
                font-weight: $font-weight-bold;
                text-transform: uppercase;
            }
        }
        p {
            font-family: $font-family-secondary;
            font-weight: $font-weight-normal;
            margin-right: 10px;
            font-size: $font-size-sm;
            color: $dark;
            opacity: 0.7;
            margin: 0;
            @media (max-width: map_get($breakpoints, "sm")) {
                margin: 5px 0;
            }
        }
    }
    .footer_bottom_block
    {
        .footer_img
        {
            @extend %w-100;
        }
    }
    h5 {
        margin-bottom: 1rem;
    }
    address {
        font-family: $font-family-secondary;
        font-weight: $font-weight-medium;
        font-size: $font-size-sm;
        line-height: 1.3;
        color: $secondary;
    }
    .direction_icon {
        height: 20px;
        padding-right: 5px;
    }
    .social_icons_row {
        margin: 1rem 0;

        .icons {
            height: 35px;
            width: 35px;
            object-fit: contain;
            margin-right: 5px;
        }
    }
    .timing_row {
        margin-bottom: 1rem;
        p {
            margin: 0;
            color: $gray100;
        }
        span {
            font-family: $font-family-secondary;
            font-size: $font-size-sm;
            color: $dark;
            font-weight: $font-weight-medium;
        }
    }
}
